*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  all: unset;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter{
  background-color: #fff;
  width: 476px;
  max-width: 90%;
  height: auto;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter__limit{
  background-color: #ccc;
  color: #777;
}

.counter__title{
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  margin-top: 60px;
}

.counter__subtitle{
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2px;
  line-height: 1.2;

  width: 50%;
}

.counter__value{
  font-family: 'Roboto', sans-serif;
  font-size: 180px;
  font-weight: 400;
  text-align: center;
}

.counter__reset-buton{
  cursor: pointer;
  margin-top: -20px;
}

.counter__reset-icon{
  opacity: 0.7;
  font-size: 32px;
  color: #333;
}

.counter__reset-icon:hover{
  opacity: 1;
}

.counter__buttons{
  background-color: #000;
  height: 116px;
  width: 100%;
  margin-top: 100px;
  display: flex;
  border-left: 1px solid #2C2C2C;
  border-right: 1px solid #2C2C2C;
  border-bottom: 1px solid #2C2C2C;
}

.counter__button{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.counter__button:hover{
  background-color: #202020;
}

.counter__button--decrease{

}

.counter__button--increase{
  border-left: 1px solid #2C2C2C;

}

.counter__icon{
  color: #FFF;
  opacity: 0.9;
  font-size: 40px;
}

.counter__icon--minus{

}

.counter__icon--plus{

}

@media (max-width: 600px) {
  .counter{
    width: 100%;
    height: 100%;
    border-radius: 0;
    max-width: 100%;
  }

  .counter__buttons{
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}